@import './public.scss';

.index {
  h1 {
    background: yellow;
    text-shadow: 5px 5px 5px #FF0000;
    border-radius: 0px;
    display: flex;
  }

  .smallImg {
    width: 89px;
    height: 89px;
    background: url("../images/3.png") 0px 0px no-repeat;
  }

  .bigImg {
    width: 640px;
    height: 640px;
    background: url("/src/default/images/2.jpg") 0px 0px no-repeat;
  }
}