body {
  margin: 0;
}

$mainColor: #4D555D;
@mixin boxSizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin divBlock {
  width: 100%;
  display: block;
  position: relative;
  @include boxSizing;
  color: $mainColor;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.navTop {
  @include divBlock;
  background: black;

  ul {
    li {
      list-style-type: none;
      display: block;
      float: left;
      margin: 0px 27px;
      color: red;
      font-size: 20px;

      a {
        color: white;
      }
    }
  }
}