<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>anjularjs基础知识</title>
    <meta name="keywords" content="关键字" />
    <meta name="description" content="描述" />
    <script type="text/javascript" src="/skin/default/lib/jquery/jquery.min_v1.10.2.js"></script>
    <script type="text/javascript" src="/skin/default/js/public.js?ver=1.0"></script>
    <link href="/skin/default/css/public.css" rel="stylesheet" type="text/css" />
    <!--css引入：引入当前页面样式文件-->

</head>

<body>
<div class="wrap" ng-app="">
    <a href="http://www.runoob.com/angularjs/angularjs-tutorial.html" target="_blank">菜鸟教程</a>

    <div class="item">
        <h1>AngularJS简介</h1>
        <h3>通过新的属性和表达式扩展了 HTML。可以构建一个单一的页面应用程序</h3>
        <h3>AngularJS 是一个 JavaScript 框架。它可通过 script 标签添加到 HTML 页面（引入anjularjs库文件）。AngularJS 通过 指令 扩展了 HTML，且通过 表达式 绑定数据到 HTML</h3>
    </div>
    <div class="item">
        <h1>什么是anjularjs</h1>
        <p>AngularJS 把应用程序数据绑定到 HTML 元素</p>
        <p>AngularJS 可以克隆和重复 HTML 元素</p>
        <p>AngularJS 可以隐藏和显示 HTML 元素</p>
        <p>AngularJS 可以在 HTML 元素"背后"添加代码</p>
        <p>AngularJS 支持输入验证</p>
    </div>
    <div class="item">
        <h1>Anjular JS基础指令：是以 ng 作为前缀的 HTML 属性</h1>
        <p>ng-app:指令定义一个 AngularJS 应用程序，告诉 AngularJS某个元素是 AngularJS 应用程序 的"所有者",一个网页可以包含多个运行在不同元素中的 AngularJS 应用程序.</p>
        <p>ng-model指令把元素值（例如输入域的值）绑定到应用程序;</p>
        <p>ng-bind指令把应用程序数据绑定到HTML视图</p>
        <p>ng-init 指令初始化 AngularJS 应用程序变量</p>
    </div>
    <div class="item">
        <h3>2中数据绑定方式：<img src="../anjularjs/images/2%E4%B8%AD%E7%BB%91%E5%AE%9A%E6%95%B0%E6%8D%AE%E7%9A%84%E6%96%B9%E5%BC%8F.png"> </h3>
        <p>请输入文本值：</p>
        <input type="text" ng-model="NameText" ng-init="NameText='Hello,SongXia'" />
        <br />
        <p ng-bind="NameText">数据绑定方式：</p>
        <p>数据绑定方式：{{NameText}}</p>
    </div>

    <div class="item">
        <strong>
            <p>Anjular JS数据绑定</p>
        </strong> 单价：
        <input type="text" ng-model="quantyBind" ng-init="quantyBind='2'" /> 数量：
        <input type="text" ng-model="countBind" ng-init="countBind='1'" />
        <label>总价是：{{quantyBind}}*{{countBind}}={{quantyBind*countBind}}</label>
        <br />

        <strong>
            <p>Anjular JS重复HTML：ng-repeat(遍历循环一个数组)</p>
        </strong>
        <label ng-init="Names=['Mike','Amy','Summer','Lady']"></label>
        <ul>
            <li ng-repeat="x in Names">
                {{x}}
            </li>
        </ul>
        <br />
        <strong>
            <p>ng-repeat用在一个对象数组上</p>
        </strong>
        <label ng-init="Names2=[{name:'Mike',age:'20'},{name:'Amy',age:'30'},{name:'Summer',age:'40'},{name:'Lady',age:'50'}]"></label>
        <ul>
            <li ng-repeat="xx in Names2">
                {{xx.name+" "+xx.age}}

            </li>
        </ul>
    </div>

    <div class="item">
        <p>
            Anjular JS表达式：AngularJS 使用 表达式 把数据绑定到 HTML
            <br />
            <strong>
                （1）AngularJS 表达式写在双大括号内：{{"表达式" }}<br />
                （2）AngularJS 表达式把数据绑定到 HTML，这与 ng-bind 指令有异曲同工之妙。<br />
                （3）AngularJS 将在表达式书写的位置"输出"数据。<br />
                （4）AngularJS 表达式 很像 JavaScript 表达式：它们可以包含文字、运算符和变量。
            </strong>
        </p>
        直接输出数据：5+5={{5+5}}
        <br /> 姓名：
        <input type="text" ng-model="TxtName" ng-init="TxtName='SongXia'" />
        <br /> 使用Anjular JS表达式表示：
        <p><strong>{{TxtName}}</strong></p>
        使用Anjular JS ng-bind指令表示：<strong>
        <p ng-bind="TxtName"></p>
    </strong>
        <br />

        <strong>
            <p>Anjular JS数字</p>
        </strong> 单价：
        <input type="text" ng-model="quanty" ng-init="quanty='2'" /> 数量：
        <input type="text" ng-model="count" ng-init="count='1'" />
        <label>总价是：{{quanty}}*{{count}}={{quanty*count}}</label>
        <br />

        <strong>
            <p>Anjular JS字符串：与Javascript字符串是一样的</p>
        </strong>
        <input type="text" ng-init="firstname='Song';lastName='Xia'" ng-model="Name" /> 姓名：
        <label>{{Name}}+{{firstname}}{{lastName}}</label>
        <br />

        <strong>
            <p>Anjular JS对象:ng-init="Person={firstName:'Song',lastName:'Xia'}"s</p>
        </strong>
        <label type="text" ng-init="Person={firstName:'Song',lastName:'Xia'}" /> 姓：
        <label>{{Person.firstName}}</label>
        <br />

        <strong>
            <p>Anjular JS数组:ng-init='counts=["I","am","New","people"]'</p>
        </strong>
        <label type="text" ng-init='counts=["I","am","New","people"]' /> 显示第三个数据：
        <label>{{counts[2]}}</label>
        <br />

        <strong>
            <p>Anjular JS表达式与Javascript表达式</p>
        </strong>
        <p>
            似于 JavaScript 表达式，AngularJS 表达式可以包含字母，操作符，变量。
            <br /> 与 JavaScript 表达式不同，AngularJS 表达式可以写在 HTML 中。
            <br /> 与 JavaScript 表达式不同，AngularJS 表达式不支持条件判断，循环及异常。
            <br /> 与 JavaScript 表达式不同，AngularJS 表达式支持过滤器。
        </p>
    </div>
</div>
<script type="text/javascript" src="/skin/default/lib/angular/angular.min.js"></script>
<script type="text/javascript">
    var app2 = angular.module('app1', []);
    angular.bootstrap(document.getElementById("app1"), ['app1']);
</script>
</body>

</html>