@charset "utf-8";
/*分页样式设置*/

.paging {
    padding: 15px 0px;
    text-align: center;
}

.paging .loadMore {
    background-color: red;
    color: white;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}