/*
    views eligable: 
        view__ceqs_wordc2e_questions_of_quiz_x_display
*/


/* --------------------------------  frame ----------------------------------*/

.view-ceqs-wordc2e-questions-of-quiz-x-display ul.slides>li{
  margin: 30px 0px !important;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container {
  height: 300px !important;
  margin: 0 5% !important;
  /* perspective: 2000px; */
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-front-header {
  width: 100%;
  height: 50px;
}
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-front-header .dqd-word {
  font-size: 3em;
  display: inline-block;
  margin-right: 20px;
}
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-front-header .dqd-pinyin {
  display: inline-block;
/* Reserved for pinyin */
/* 
  font-size: 2em;
  font-family: 'dqdFontPinyinSans';
  background-color: pink;
  margin: 5px 10px !important;
  padding: 5px 10px !important;
  border-radius: 3px;  
 */
}
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-front-header .dqd-sound {
  display: inline-block;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-front-body {
  width: 100%;
  height: 150px;
  text-align: center;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-back-header {
  width: 100%;
  height: 50px;
}
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-back-header .dqd-word{
  font-size: 3em;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-back-body {
  width: 100%;
  height: 150px;
  text-align: center;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-back-footer {
  width: 100%;
  height: 50px;
  text-align: center;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .dqd-back-body .dqd-dictionary{
  text-align: center;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .front{
  padding: 15px;
  height: inherit !important;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-flip-container .back{
  padding: 15px;
  height: inherit !important;
}

/* misc */
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-css-table {
    display: table;
}
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-css-tablecell {
    display: table-cell;
    vertical-align: middle;
}

/* --------------------------------  Content ----------------------------------*/

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-option {
  cursor: pointer;
  background: #ffd;
  position: relative; 
}
.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-progressbar {
  z-index               : 1;
  width                 : 0;
  height                : 100%;
  position              : absolute;
  background            : rgba(0, 0, 0, 0.2);
  left                  : 0;
  top                   : 0; 
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-correct-option .dqd-progressbar {
  background            : rgba(0, 255, 0, 0.2);
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-option + .dqd-option {
  margin-top: 1em; 
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-choice-options-set {
  list-style-type: none;
  padding-left: 0; 
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-option {
  padding: 0.5em 1em; 
  text-align:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-option-inner {
  background: transparent; 
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-question {
  padding: 0 3em; 
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-continue {
  border: none;
  color: green;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-drawingfield-svg {
  display:inline-block;
  width:100px;
  height:100px;
}

.view-ceqs-wordc2e-questions-of-quiz-x-display .dqd-controls {
 display:none;
}


/******************************  The new implementation on Apr 2018 *******************************/

body.page-lesson-superstar-v3 {
    height: 0;
    overflow: hidden;
}

body.page-lesson-superstar-v3 #dqd-superstar-quiz {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

body.page-lesson-superstar-v3 .dqd-quiz-quiz {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.page-lesson-superstar-v3 .dqd-quiz-question {
  position: absolute;
  background-color: aliceblue;
  width: 90%;
  /* height: 90vh; */
  top: 40px;
  /* left: 5%; */
  display: none;
  min-width: 280px;
  padding: 5px 15px !important;
}

body.page-lesson-superstar-v3 .dqd-face-text {
    font-size: 3em;
    display: inline-block;
    margin-right: 20px;
}

body.page-lesson-superstar-v3 .dqd-face {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

body.page-lesson-superstar-v3 .dqd-option {
    padding: 0.7em 1em;
    text-align: left;
    cursor: pointer;
    background: #ffd;
    position: relative;
    margin: 0 0 15px 0;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.page-lesson-superstar-v3 .dqd-progressbar {
    z-index: 1;
    width: 0;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
}


body.page-lesson-superstar-v3 .dqd-correct-option .dqd-progressbar {
    background: rgba(0, 255, 0, 0.2);
}

body.page-lesson-superstar-v3 a.dqd-voice-button {
  width: 18px;
  margin-right: 10px;
}

body.page-lesson-superstar-v3 .dqd-option-text {
    display: inline-block;
}


body.page-lesson-superstar-v3 x.dqd-option-star {
  display: none;
}

body.page-lesson-superstar-v3 .dqd-active {
  z-index:1;
}

body.page-lesson-superstar-v3 .dqd-progress {
    position: absolute;
    /* width: 100px; */
    /* height: 100px; */
    top: 0;
    right: 0;
    padding: 8px 8px 0 0;
}

body.page-lesson-superstar-v3 i.dqd-progress-star.fa.fa-fw.fa-star {
    display: inline-block;
    font-size: 26px;
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}

body.page-lesson-superstar-v3 .dqd-progress-text {
    display: inline-block;
}

body.page-lesson-superstar-v3 .dqd-top-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

body.page-lesson-superstar-v3 .dqd-top-bar-back-button {
  font-size: 26px;
  /* margin: 0 8px; */
  position: absolute;
  /* width: 100px; */
  /* height: 100px; */
  top: 0;
  left: 0;
  padding: 0 20px 0 0;
}


/* hide un-wanted elements on the quiz page */
body.page-lesson-superstar-v3 #messages-console,
body.page-lesson-superstar-v3 #header-top,
body.page-lesson-superstar-v3 #header,
body.page-lesson-superstar-v3 #bottom-content,
body.page-lesson-superstar-v3 #footer-top {
  display:none;
}


