@charset "utf-8";
.item {
  width: 100%;
  background-color: #e6e6e6;
  position: relative;
  text-align: center;
  color: #4a4a4a;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom: 1px #c7c7c9 solid;
  padding: 10px 0px;
}
.base {
  width: 100%;
  background-color: #e6e6e6;
  position: relative;
  text-align: center;
  color: #4a4a4a;
  margin: 0 auto;
}
html,
body {
  width: 100%;
  background-color: #e6e6e6;
  position: relative;
  text-align: center;
  color: #4a4a4a;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
}
.userAcator {
  width: 50px;
  height: 50px;
  border: 1px #e6e6e6 solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.items {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.items ul {
  list-style-type: none;
}
.items li {
  float: left;
  margin: 0 auto;
  padding: 0px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}
.items a {
  display: block;
}
.items a .name {
  color: #4a4a4a;
  float: left;
}
.items a .name:hover {
  background-color: firebrick;
}
.items a img {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px #e6e6e6 solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.sanjiao_top {
  border-width: 30px;
  border-color: transparent transparent #ffff00 transparent;
  border-style: dashed dashed solid dashed;
  width: 0px;
  height: 0px;
  overflow: hidden;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
.sanjiao_bottom {
  border-width: 30px;
  border-color: #ffff00 transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  width: 0px;
  height: 0px;
  overflow: hidden;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
.sanjiao_left {
  border-width: 20px;
  border-color: transparent #ff0000 transparent transparent;
  border-style: dashed solid dashed dashed;
  width: 0px;
  height: 0px;
  overflow: hidden;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
.sanjiao_right {
  border-width: 30px;
  border-color: transparent transparent transparent #ffff00;
  border-style: dashed dashed dashed solid;
  width: 0px;
  height: 0px;
  overflow: hidden;
  float: left;
  margin-bottom: 40px;
  margin-right: 20px;
}
.post {
  position: relative;
}
.suan {
  width: 240px;
  height: 300px;
  background-color: fuchsia;
  margin: 0 auto;
}
.ment {
  border: 3px #ff0000 solid;
}
.bianyi {
  width: calc(100px);
  height: 200px;
  background-color: fuchsia;
}
.bianyi2 {
  width: calc(300px-200px);
  height: 200px;
  background-color: fuchsia;
  margin-top: 30px;
}
.important {
  border: 5px solid #ff0000 !important;
  background-color: yellow !important;
}
