@charset "UTF-8";
@import "public";

.course {
  @include div-block();
  margin: 20px auto;
  @include min-width();
  .list-info {
    .perItem {
      @include flex-layout();
      margin: 10px 0;
      .perItem-info {
        background-color: white;
        border: $border;
        @include border-radius();
        cursor: pointer;
        text-align: center;
        margin: 0 auto;
        .top-img {
          margin: 18px 0 0;
          img {
            margin: 0 auto;
            width: 60%;
          }
        }
        .text {
          font-size: 18px;
        }
      }
      .perItem-info:hover {
        @include box-shadow();
      }
    }
  }
}
