@charset "UTF-8";
@import "public";

.flashcard {
  @include min-width();
  .first-title {
    @include box-sizing();
    height: 50px;
    line-height: 50px;
    background-color: white;
    //padding: 0px 20px;

    span {
      font-size: $font-size-18;
      margin-left: 15px;
    }

    i {
      top: 17px;
    }
  }

  .card-cont {
    @include div-block();
    margin: 0;

    .perItem {


      .info {
        border: $border;
        @include border-radius();
        background-color: white;
        //width: 70%;
        margin: 20px auto;
        position: relative;
        overflow: hidden;
        max-width: 300px;
        min-width: 150px;

        .coverImg {
          width: 100%;
          margin: 0 auto;

        }

        .title1 {
          padding: 10px 20px 3px;
          text-align: left;
          max-width: 300px;
        }

        .title2 {
          padding: 0px 20px 6px;
          overflow: hidden;
          max-width: 300px;

          span {

          }

          i {
            color: red;
          }
        }
      }

    }

  }

}
@media only screen and (max-width: 767px) {
  .flashcard {
    .card-cont {
      .perItem {
        .info {
          //width: 100%;
        }
      }
    }
  }
}