@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003100}}
body {
  background-color: #fafafa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003105}}
.top-nav-info {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f03744;
  color: white;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003115}}
.top-nav-info .leftIcon {
  position: absolute;
  left: 10px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003121}}
.top-nav-info .rightIcon {
  position: absolute;
  right: 10px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003127}}
.top-nav-info .top-nav-text {
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003133}}
.text-icon {
  position: relative;
  top: 0px;
  cursor: pointer;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003140}}
.container-percent {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto 90px;
  background-color: white;
  border: 1px #f0f0f0 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003150}}
.bigTitle {
  font-weight: bold;
  font-size: 40px;
  margin: 28px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003157}}
.commonModalDialog {
  min-width: 320px;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003160}}
.commonModalDialog .modal-dialog {
  height: 80%;
  min-width: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003164}}
.commonModalDialog .modal-dialog .modal-content {
  height: 80%;
  background-color: #fafafa;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003169}}
.commonModalDialog .modal-dialog .modal-content .modal-header {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003173}}
.commonModalDialog .modal-dialog .modal-content .modal-header .btnClose {
  position: absolute;
  right: -42px;
  top: 0px;
  opacity: unset;
  background-color: white;
  width: 30px;
  font-size: 40px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003189}}
.commonModalDialog .modal-dialog .modal-content .modal-body {
  padding: 0;
  margin: 0;
  max-height: calc(100% - 45px);
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003205}}
  .commonModalDialog .modal-dialog .modal-content {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003213}}
  .settingDialog .modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003216}}
  .settingDialog .modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003220}}
  .settingDialog .commonModalDialog .modal-dialog {
    margin: 0;
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003223}}
  .settingDialog .commonModalDialog .modal-dialog .modal-content {
    height: calc(100%);
    position: absolute;
    bottom: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003239}}
.settingDialog {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003241}}
.settingDialog .setting {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003243}}
.settingDialog .setting .perItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #f0f0f0 solid;
  height: 44px;
  line-height: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003248}}
.settingDialog .setting .perItem .tagIcon {
  position: absolute;
  left: 16px;
  top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003252}}
.settingDialog .setting .perItem .tagIcon .text-icon {
  font-size: 20px;
  color: #f03744;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003257}}
.settingDialog .setting .perItem .text {
  font-size: 16px;
  padding-left: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003266}}
.settingDialog .commonModalDialog .modal-dialog .modal-content {
  height: 90px !important;
  overflow: hidden !important;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003271}}
.settingDialog .commonModalDialog .modal-dialog .modal-content .modal-body {
  height: 100% !important;
  max-height: calc(100%) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\000035}}
.SettingsOptionsModalDialog .options-cont {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 0;
  min-width: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000311}}
.SettingsOptionsModalDialog .options-cont .commonTitle {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px #f0f0f0 solid;
  padding: 0px 10px;
  height: 50px;
  line-height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000323}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000326}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .text2 {
  color: #a1a1a1;
  margin-right: 6px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000332}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .text-icon {
  color: #a1a1a1;
  top: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000337}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .allSetingModalDialog {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000340}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .allSetingModalDialog .modal-dialog {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-items: center;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000342}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .allSetingModalDialog .modal-dialog .modal-content {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000348}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .allSetingModalDialog .modal-dialog .modal-content .modal-body .allOptions .perItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #f0f0f0 solid;
  padding: 0px 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000353}}
.SettingsOptionsModalDialog .options-cont .options-title1 .setOptions .allSetingModalDialog .modal-dialog .modal-content .modal-body .allOptions .perItem i {
  color: red;
  top: 17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000366}}
.SettingsOptionsModalDialog .options-cont .options-title2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa;
  border-bottom: 1px #f0f0f0 solid;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000374}}
.SettingsOptionsModalDialog .options-cont .options-title2 .text1 {
  height: 40px;
  width: 6px;
  background-color: red;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000383}}
.SettingsOptionsModalDialog .options-cont .options-title2 .text2 {
  margin-left: 5px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000391}}
.SettingsOptionsModalDialog .options-cont .options-title3 .switch {
  position: relative;
  top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\0000397}}
.SettingsOptionsModalDialog .options-cont .Sides {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10px;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003107}}
.SettingsOptionsModalDialog .options-cont .Sides .radioGroup .radio-inline {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 7px 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003111}}
.SettingsOptionsModalDialog .options-cont .Sides .radioGroup .radio-inline i {
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  width: 15px;
  height: 15px;
  outline: 0;
  border: 1px solid #e4e4e4;
  background: #fff;
  border-radius: 50%;
  transition: border-color .3s;
  -webkit-transition: border-color .3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003126}}
.SettingsOptionsModalDialog .options-cont .Sides .radioGroup .radio-inline input + i:after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #f03744;
  opacity: 0;
  transition: opacity .1s;
  -webkit-transition: opacity .1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003140}}
.SettingsOptionsModalDialog .options-cont .Sides .radioGroup .radio-inline input:checked + i:after {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003148}}
.SettingsOptionsModalDialog .switch {
  position: relative;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003152}}
.SettingsOptionsModalDialog .switch .mui-switch {
  width: 42px;
  height: 22px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003166}}
.SettingsOptionsModalDialog .switch .mui-switch:before {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003178}}
.SettingsOptionsModalDialog .switch .mui-switch:checked {
  border-color: #fd5454;
  /*颜色修改*/
  box-shadow: #fd5454 0 0 0 16px inset;
  /*颜色修改*/
  background-color: #fd5454;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003185}}
.SettingsOptionsModalDialog .switch .mui-switch:checked:before {
  left: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003190}}
.SettingsOptionsModalDialog .switch .mui-switch.mui-switch-animbg {
  /*加过度效果*/
  transition: background-color ease 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003193}}
.SettingsOptionsModalDialog .switch .mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003197}}
.SettingsOptionsModalDialog .switch .mui-switch.mui-switch-animbg:checked {
  box-shadow: #fd5454 0 0 0 0 inset;
  /*颜色修改*/
  background-color: #fd5454;
  transition: border-color 0.4s, background-color ease 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003205}}
.SettingsOptionsModalDialog .dropdownstyle {
  color: #a1a1a1;
  margin-right: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003209}}
.SettingsOptionsModalDialog .dropdownstyle .dropdown .titleMenu {
  font-size: 16px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003212}}
.SettingsOptionsModalDialog .dropdownstyle .dropdown .titleMenu .caret {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003216}}
.SettingsOptionsModalDialog .dropdownstyle .dropdown .dropdown-menu {
  right: 0px;
  left: auto;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003220}}
.SettingsOptionsModalDialog .dropdownstyle .dropdown .dropdown-menu li {
  color: #4d555d;
  text-align: center;
  border-bottom: 1px #f0f0f0 solid;
  height: 40px;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003227}}
.SettingsOptionsModalDialog .dropdownstyle .dropdown .dropdown-menu li:last-child {
  border-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003230}}
.SettingsOptionsModalDialog .dropdownstyle .dropdown .dropdown-menu li:hover {
  background-color: #fafafa;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003240}}
  .SettingsOptionsModalDialog .commonModalDialog .modal-dialog {
    margin: 0;
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003244}}
  .SettingsOptionsModalDialog .commonModalDialog .modal-dialog .modal-content {
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/options\.scss}line{font-family:\00003248}}
  .SettingsOptionsModalDialog .commonModalDialog .modal-dialog .modal-content .modal-body .options-cont {
    height: calc(100%);
  }
}
