@charset "UTF-8";
@import "public";

.SettingsOptionsModalDialog{
  .options-cont {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 0;
    @include min-width();

    .commonTitle {
      width: 100%;
      position: relative;
      @include box-sizing();
      background-color: white;
      border-bottom: $border;
      padding: 0px 10px;
      height: 50px;
      line-height: 50px;
    }

    .options-title1 {
      .setOptions {
        cursor: pointer;

        .text2 {
          color: $submain-color;
          margin-right: 6px;
          display: none;
        }

        .text-icon {
          color: $submain-color;
          top: 3px;
        }

        .allSetingModalDialog {
          display: none;

          .modal-dialog {
            @include flex-layout();
            .modal-content {
              height: auto;

              .modal-body {

                .allOptions {
                  .perItem {
                    @include div-block();
                    border-bottom: $border;
                    padding: 0px 16px;

                    i {
                      color: red;
                      top: 17px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .options-title2 {
      @include div-block();
      background-color: $bg-color;
      border-bottom: $border;
      padding: 0px 10px;
      height: 40px;
      line-height: 40px;

      .text1 {
        height: 40px;
        width: 6px;
        background-color: red;
        position: absolute;
        left: 0px;
        top: 0px;
      }

      .text2 {
        margin-left: 5px;
        font-weight: bold;
      }
    }

    .options-title3 {

      .switch {
        position: relative;
        top: 5px;
      }
    }

    .Sides {
      @include div-block();
      padding: 20px 10px;
      background-color: white;

      span {

      }

      .radioGroup {
        .radio-inline {
          @include div-block();
          margin: 7px 31px;

          i {
            display: block;
            position: absolute;
            top: 3px;
            left: 0px;
            width: 15px;
            height: 15px;
            outline: 0;
            border: 1px solid #e4e4e4;
            background: #fff;
            border-radius: 50%;
            transition: border-color .3s;
            -webkit-transition: border-color .3s;
          }

          input + i:after {
            position: absolute;
            content: '';
            top: 2px;
            left: 2px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: $highLight-color;
            opacity: 0;
            transition: opacity .1s;
            -webkit-transition: opacity .1s;
          }

          input:checked + i:after {
            opacity: 1;
          }
        }

      }
    }
  }
  .switch {
    position: relative;
    margin: 0;

    .mui-switch {
      width: 42px;
      height: 22px;
      position: relative;
      border: 1px solid #dfdfdf;
      background-color: #fdfdfd;
      box-shadow: #dfdfdf 0 0 0 0 inset;
      border-radius: 20px;
      background-clip: content-box;
      display: inline-block;
      -webkit-appearance: none;
      user-select: none;
      outline: none !important;

      &:before {
        content: '';
        width: 19px;
        height: 19px;
        position: absolute;
        top: 0px;
        left: 0;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      }

      &:checked {
        border-color: #fd5454; /*颜色修改*/
        box-shadow: #fd5454 0 0 0 16px inset; /*颜色修改*/
        background-color: #fd5454;

      }

      &:checked:before {
        left: 21px;

      }

      &.mui-switch-animbg { /*加过度效果*/
        transition: background-color ease 0.4s;

        &:before {
          transition: left 0.3s;
        }

        &:checked {
          box-shadow: #fd5454 0 0 0 0 inset; /*颜色修改*/
          background-color: #fd5454;
          transition: border-color 0.4s, background-color ease 0.4s;
        }
      }
    }
  }
  .dropdownstyle {
    color: #a1a1a1;
    margin-right: 6px;
    .dropdown {
      .titleMenu {
        font-size: 16px;
        cursor: pointer;
        .caret {
          font-size: 16px
        }
      }
      .dropdown-menu {
        right: 0px;
        left: auto;
        padding: 0;
        li {
          color: $main-color;
          text-align: center;
          border-bottom: $border;
          height: 40px;
          line-height: 40px;
        }
        li:last-child{
          border-bottom: 0px;
        }
        li:hover{
          background-color: $bg-color;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .SettingsOptionsModalDialog {
    .commonModalDialog {
      .modal-dialog {
        margin: 0;
        height: calc(100%);

        .modal-content {
          height: calc(100%);

          .modal-body {
            .options-cont {
              height: calc(100%);
            }
          }
        }
      }
    }
  }
}