@charset "UTF-8";
@import "public";

html, body {
  height: 100%;
}

.card-container {
  @include div-block();
  @include min-width();
  width: calc(100%);
  height: calc(100% - 40px);
  padding: 0;
  //background-color: yellow;
  .swiper-container {
    height: 100%;

    .swiper-wrapper {
      height: 100%;

      .swiper-slide {
        height: 100%;
        perspective: 1800px;
        -webkit-perspective: 1800px;
        -moz-perspective: 1800px;
        -webkit-perspective-origin: 50% 50%;
        @include flex-layout();

        .card-front, .card-back {
          @include div-block();
          @include border-radius(4px);
          border: $border;
          @include absolute-center();
          padding: 50px 20px 20px;
          background-color: white;
          overflow-y: auto;
          transition: all 10s;
          transition: all 300ms;
          width: calc(70%);
          height: calc(60% - 0px);
          overflow: hidden;
        }

        .card-front {
          transform: rotateX(0deg);
          z-index: 1;
          @include flex-layout();

          .card-front-cont {
            margin: 0 auto;

            span {
              position: relative;
              overflow: hidden;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              width: 120px;
              height: 120px;
              line-height: 120px;
              font-size: 80px;
              margin: 0px 5px;
              cursor: pointer;
            }
          }
        }

        .card-back {
          transform: rotateX(-180deg);
          z-index: 0;

          .left-info {
            .font-info {
              margin: 10px auto;

              .top-font {
                font-weight: bold;
                font-size: 50px;
                cursor: pointer;
              }
            }

            .zhongying-font-list, .zaoju, .zuci {
              @include div-block();
              padding-left: 20px;
              margin-bottom: 10px;

              i.text-icon {
                color: $highLight-color;
                font-size: 12px;
                position: absolute;
                left: 0px;
                top: 3px;
              }
            }

            .zhongying-font-list {
              @include div-block();
              padding-left: 20px;

              i.text-icon {
                color: $highLight-color;
                font-size: 12px;
                position: absolute;
                left: 0px;
                top: 3px;
              }

              .zhongying-font {
                margin-bottom: 3px;

                span {
                  color: $highLight-color;
                }

                span + span {
                  color: $main-color;
                  margin-left: 10px;
                }
              }
            }

            .zaoju {
            }

            .zuci {
              span {
                em {
                  font-style: normal;
                  padding-right: 6px;
                }
              }
            }
          }

          .right-info {
            .img-icon {
              width: 80%;
              margin: 20px auto;
            }
          }
        }

        .switchCard {
          z-index: 10;
          position: fixed;
          right: 13px;
          bottom: 6px;
        }
      }
    }

    .swiper-button {
      z-index: 100000;
      width: 152px;
      height: 20px;
      @include absolute-center();
      top: calc(73%);
      left: calc(-3%);

      .swiper-button-prev, .swiper-button-next {
        background: none;
        position: relative;
        top: 2px;
      }

      .swiper-button-prev {
        color: $highLight-color;
      }

      .swiper-button-next {
        color: $highLight-color;
      }

      .btnClickInfo {
        margin: 0px 40px;
        color: $highLight-color;
      }
    }
  }

  .top-nav-icon-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 12px 0px 0px 0px;
    z-index: 100;

    .tool-bar {

      @include flex-layout();
      .button-container {
        width: 96px;
        margin: 0 auto;
      }
    }

  }
}

//正面 文字 弹出框开始
.show-myModal {
  display: none;

  .top-nav-cont {
    .top-nav-info {
      margin: 0;
    }

    .top-tabs {
      margin: 0;

      .perTab {
        height: 42px;
        height: 38px;
        line-height: 42px;

        span {
          padding: 10px 5px 7px;
          cursor: pointer;
        }
      }

      .perTab.selected {
        span {
          border-bottom: 2px solid $highLight-color;
          font-weight: bold;
        }
      }
    }
  }

  .tab-cont {
    height: calc(100%);
    background-color: $bg-color;

    .area {
      display: none;
    }

    .area1 {
      background-color: $bg-color;

      .dict-infos {
        @include div-block-percent();
        background-color: white;

        .tagImg {
          text-align: center;

          img {
            width: 100%;
          }
        }

        .cont {
          @include div-block();

          .smallTitle {
            @include div-block();
            height: 2em;
            margin-top: 20px;
            margin-bottom: 20px;

            .mark {
              position: absolute;
              top: 5px;
              background-color: #f03744;
              width: 5px;
              height: 16px;
            }

            .desc {
              font-weight: bold;
              font-size: 20px;
              background-color: white;
              position: absolute;
              left: 5px;
              padding: 0px 5px;
            }

            .tag {
              top: 15px;
              background-color: #f03744;
              height: 1px;
              width: 100%;
              position: absolute;
            }
          }

          .yingwen {
            @include box-sizing();
            padding: 0px 10px;

            .perInfo {
              @include div-block();
              margin-bottom: 10px;

              span {
                color: $font-color;
              }

              span + span {
                margin-left: 10px;
                color: $main-color;
              }
            }

          }

          .Sentences, .Words {
            .cont {
              .perInfo {
                @include div-block();
                border-bottom: $border;
                margin-bottom: 15px;
                padding: 0px 0px 15px 20px;

                i.text-icon {
                  position: absolute;
                  left: 0px;
                  top: 0px;
                }

                i.rightArrow {
                  position: absolute;
                  right: 0px;
                  top: 0px;
                  cursor: pointer;
                  color: $highLight-color;
                }

                span {
                }
              }
            }
          }

          .gyDict {
            .perInfo {
              @include div-block();
              margin-bottom: 10px;

              .title {
                margin-bottom: 10px;

                span {
                  font-weight: bold;
                  font-size: 22px;
                }

                span + span {
                  color: $font-color;
                  font-weight: normal;
                  margin-left: 10px;
                  font-size: 16px;
                }
              }

              .title2 {
                @include div-block();
                margin-bottom: 10px;

                em {
                  font-style: normal;
                  background-color: $highLight-color;
                  color: white;
                  font-size: 12px;
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
                  @include border-radius(50%);
                  margin-right: 10px;
                }

                span {
                  font-weight: bold;
                }
              }

              .cont-info {
                @include div-block();

                em {
                  font-style: normal;
                  background-color: $highLight-color;
                  color: white;
                  font-size: 12px;
                  width: 20px;
                  height: 20px;
                  line-height: 20px;
                  @include border-radius(50%);
                  position: absolute;
                }

                .rightInfo {
                  width: 100%;
                  margin-left: 25px;

                  .p {
                    @include div-block();
                    margin-bottom: 10px;

                    em {
                      background: none;
                      border: 1px $highLight-color solid;
                      color: $highLight-color;
                      width: 16px;
                      line-height: 16px;
                      height: 16px;
                      position: absolute;
                    }

                    span {
                      float: left;
                      width: 100%;
                      margin-left: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .area3 {
      .top-nav-icon {
        background-color: $bg-color;
        margin: 0px;
        padding-top: 32px;

        .text-icon {
          color: $highLight-color;
          font-size: 20px;
          position: relative;
          top: 5px;
        }
      }

      .font {
        text-align: center;
        margin: 0;
        background-color: $bg-color;

        span {
          background-color: #faf6ef;
          color: #f03744;
          font-size: 180px;
          font-weight: bold;
          padding: 21px 42px;
          @include box-sizing();
        }
      }

      .zhongyingList {
        padding: 10px 0px;
        background-color: white;

        .perInfo {
          margin: 5px 0px;

          .zhong {
            color: $font-color;
            text-align: right;
          }
        }
      }
    }
  }

}

//正面 文字 弹出框结束

//反面 组词 弹出框开始
.zuciModalDialog {
  display: none;

  .cuziCont {
    width: 96%;
    margin: 10px auto 20px;
    height: 100%;
    @include border-radius();
    padding: 20px 10px;

    .title1 {
      margin: 0px 0px;

      i.text-icon {
        font-size: 25px;
      }

      span {
        font-size: 30px;
        margin-left: 10px;
      }
    }

    .pinyin, .yingwen {
      font-size: 16px;
      padding-left: 40px;
    }

    .pinyin {
      margin: 10px 0px 4px;
    }

    .yingwen {
      color: $font-color;
    }

    .btnOpen {
      background-color: $bg-color;
      margin: 12px 0px;
      cursor: pointer;
      width: 70px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      @include border-radius();
      border: $border;

      i.text-icon {
        padding: 0;
        top: 1px;
      }
    }

    .ciyuList {
      @include div-block();

      .perItem {
        @include div-block();
        margin: 20px 0px;

        .title-tag {
          &.disabled {
            i.addMinus {
              color: $submain-color;
            }
          }
          i.text-icon {
            font-size: 14px;
          }

          .btn-vol {
            margin: 0px 5px;
          }

          span {
            font-size: 26px;
          }
        }

        .details-cont {
          border-left: 2px solid $submain-color;
          margin-left: 6px;

          .details {

            .pinyin {
              margin: 0px 0px;
            }

            .yingwen {
              color: $font-color;
            }
          }

          .subdetails {
            position: relative;
            top: 0px;
            display: none;
            margin-left: 40px;

            .subperItem {
              @include div-block();
              margin: 10px 0px;

              .text-icon {
                font-size: 14px;
                position: absolute;
                left: 0px;
                top: 10px
              }

              span {
                font-size: 26px;
                color: $font-color;
                position: absolute;
                left: 18px;
                top: 0px;
              }

              .rightInfo {
                position: relative;
                padding-left: 15px;

                .pinyin {
                  margin: 0;
                }

                .yingwen {
                  color: $font-color;
                }
              }
            }
          }
        }

      }
    }
  }

  .myModalDialog {
    .modal-dialog {
      .modal-content {
        .modal-body {
          max-height: calc(100% - 45px);
        }
      }
    }
  }
}

//反面 组词 弹出框结束

@media only screen and (max-width: 767px) {
  .show-myModal {
    .commonModalDialog {
      .modal-dialog {
        margin: 0;
        height: calc(100%);

        .modal-content {
          height: calc(100%);

          .modal-body {
            .tab-cont {
              height: calc(100%);

              .area {
                height: calc(100%);
              }
            }
          }
        }
      }
    }
  }
  .zuciModalDialog {
    .commonModalDialog {
      .modal-dialog {
        margin: 0;

        .modal-content {
          .modal-body {
            background-color: white;
            height: calc(100%);

            .cuziCont {
              height: calc(100%);
            }
          }
        }
      }
    }
  }
  .card-container {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .card-front, .card-back {
            width: calc(100%);
            height: calc(100%);
            overflow-y: auto;
          }
        }
      }
    }
  }
}

