@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003100}}
body {
  background-color: #fafafa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003105}}
.top-nav-info {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f03744;
  color: white;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003115}}
.top-nav-info .leftIcon {
  position: absolute;
  left: 10px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003121}}
.top-nav-info .rightIcon {
  position: absolute;
  right: 10px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003127}}
.top-nav-info .top-nav-text {
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003133}}
.text-icon {
  position: relative;
  top: 0px;
  cursor: pointer;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003140}}
.container-percent {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto 90px;
  background-color: white;
  border: 1px #f0f0f0 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003150}}
.bigTitle {
  font-weight: bold;
  font-size: 40px;
  margin: 28px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003157}}
.commonModalDialog {
  min-width: 320px;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003160}}
.commonModalDialog .modal-dialog {
  height: 80%;
  min-width: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003164}}
.commonModalDialog .modal-dialog .modal-content {
  height: 80%;
  background-color: #fafafa;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003169}}
.commonModalDialog .modal-dialog .modal-content .modal-header {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003173}}
.commonModalDialog .modal-dialog .modal-content .modal-header .btnClose {
  position: absolute;
  right: -42px;
  top: 0px;
  opacity: unset;
  background-color: white;
  width: 30px;
  font-size: 40px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003189}}
.commonModalDialog .modal-dialog .modal-content .modal-body {
  padding: 0;
  margin: 0;
  max-height: calc(100% - 45px);
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003205}}
  .commonModalDialog .modal-dialog .modal-content {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003213}}
  .settingDialog .modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003216}}
  .settingDialog .modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003220}}
  .settingDialog .commonModalDialog .modal-dialog {
    margin: 0;
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003223}}
  .settingDialog .commonModalDialog .modal-dialog .modal-content {
    height: calc(100%);
    position: absolute;
    bottom: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003239}}
.settingDialog {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003241}}
.settingDialog .setting {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003243}}
.settingDialog .setting .perItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #f0f0f0 solid;
  height: 44px;
  line-height: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003248}}
.settingDialog .setting .perItem .tagIcon {
  position: absolute;
  left: 16px;
  top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003252}}
.settingDialog .setting .perItem .tagIcon .text-icon {
  font-size: 20px;
  color: #f03744;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003257}}
.settingDialog .setting .perItem .text {
  font-size: 16px;
  padding-left: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003266}}
.settingDialog .commonModalDialog .modal-dialog .modal-content {
  height: 90px !important;
  overflow: hidden !important;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003271}}
.settingDialog .commonModalDialog .modal-dialog .modal-content .modal-body {
  height: 100% !important;
  max-height: calc(100%) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\000035}}
body, html {
  height: calc(100%);
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000310}}
.maskCoverDialog {
  width: calc(100%);
  height: calc(100%) !important;
  background-color: #7e7e7e;
  background-size: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
  min-width: 320px;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000322}}
.maskCoverDialog .maskCoverDialog-btnAction {
  width: calc(100%);
  height: 1.2rem;
  line-height: 1.2rem;
  position: absolute;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000328}}
.maskCoverDialog .maskCoverDialog-btnAction .btnClose {
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .maskCoverDialog .maskCoverDialog-btnAction .btnClose {
  font-size: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .maskCoverDialog .maskCoverDialog-btnAction .btnClose {
  font-size: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000339}}
.maskCoverDialog .maskCoverDialog-cont {
  top: 0;
  display: none;
  background-color: white;
  width: calc(70%);
  height: calc(90%);
  overflow-y: auto;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0.4rem;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000356}}
  .maskCoverDialog .maskCoverDialog-cont {
    width: calc(100%);
    height: calc(100%);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000364}}
.WordListDialog {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000366}}
.WordListDialog .WordListCont {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000370}}
.WordListDialog .WordListCont .word-list {
  padding: 0.1066666667rem 0 0;
  margin: 0.9333333333rem auto 0.2666666667rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000373}}
.WordListDialog .WordListCont .word-list .perItem {
  font-size: 16px;
  height: 0.9333333333rem;
  line-height: 0.9333333333rem;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .WordListDialog .WordListCont .word-list .perItem {
  font-size: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .WordListDialog .WordListCont .word-list .perItem {
  font-size: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000378}}
.WordListDialog .WordListCont .word-list .perItem .cont {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #f0f0f0 solid;
  padding-left: 0.16rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000382}}
.WordListDialog .WordListCont .word-list .perItem .cont em {
  font-style: normal;
  margin: 0 0.0533333333rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000386}}
.WordListDialog .WordListCont .word-list .perItem .cont .text-icon {
  color: #a1a1a1;
  font-size: 14px;
  position: relative;
  top: 0.24rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .WordListDialog .WordListCont .word-list .perItem .cont .text-icon {
  font-size: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .WordListDialog .WordListCont .word-list .perItem .cont .text-icon {
  font-size: 42px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\0000394}}
.WordListDialog .WordListCont .word-list .perItem.selected .tag {
  background-color: #f03744;
  width: 0.0933333333rem;
  height: 0.9333333333rem;
  position: absolute;
  left: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003104}}
.WordListDialog .WordListCont .word-list .perItem:last-child .cont {
  border-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003114}}
.top-nav-info {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f03744;
  color: white;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 18px;
  margin: 0 auto;
  padding: 0 0.2666666667rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .top-nav-info {
  font-size: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .top-nav-info {
  font-size: 54px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003127}}
.top-nav-info .leftIcon, .top-nav-info .rightIcon {
  position: absolute;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003130}}
.top-nav-info .leftIcon i, .top-nav-info .rightIcon i {
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .top-nav-info .leftIcon i, [data-dpr="2"] .top-nav-info .rightIcon i {
  font-size: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .top-nav-info .leftIcon i, [data-dpr="3"] .top-nav-info .rightIcon i {
  font-size: 54px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003134}}
.top-nav-info .leftIcon {
  left: 0.1333333333rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003136}}
.top-nav-info .leftIcon i {
  top: 0.04rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003141}}
.top-nav-info .rightIcon {
  right: 0.2666666667rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003143}}
.top-nav-info .rightIcon i {
  top: 0.1066666667rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003148}}
.top-nav-info .top-nav-text {
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003154}}
.settingDialog {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003156}}
.settingDialog .maskCoverDialog-cont {
  padding: 0;
  height: 2.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003161}}
.settingDialog .setting .perItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #f0f0f0 solid;
  border-bottom: 1px red solid;
  padding: 0 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003168}}
.settingDialog .setting .perItem .tagIcon {
  position: absolute;
  left: 0.4266666667rem;
  top: 0.12rem;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003173}}
.settingDialog .setting .perItem .tagIcon i {
  font-size: 20px;
  color: #f03744;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .settingDialog .setting .perItem .tagIcon i {
  font-size: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .settingDialog .setting .perItem .tagIcon i {
  font-size: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/test\.scss}line{font-family:\00003178}}
.settingDialog .setting .perItem span {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000324}}
[data-dpr="2"] .settingDialog .setting .perItem span {
  font-size: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\0000327}}
[data-dpr="3"] .settingDialog .setting .perItem span {
  font-size: 48px;
}
