@charset "UTF-8";
@import "public";

.WordListModalDialog {
  .word-list {
    @include div-block-percent();
    padding: 8px 0 0;

    .perItem {
      font-size: 16px;
      margin: 0 auto;
      height: 50px;
      line-height: 50px;
      width: 100%;
      position: relative;

      .cont {
        @include div-block();
        width: 94%;
        border-bottom: $border;
        margin: 0 auto;

        em {
          font-style: normal;
          margin: 0 4px;
        }

        .text-icon {
          color: $submain-color;
          font-size: 14px;
          position: relative;
          top: 18px;
        }
      }

    }

    .perItem.selected {
      .tag {
        background-color: $highLight-color;
        width: 7px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .WordListModalDialog {
    .commonModalDialog {
      .modal-dialog {
        margin: 0;
        height: calc(100%);

        .modal-content {
          height: calc(100%);

          .modal-body {
            .word-list {
              height: calc(100%);
            }
          }
        }
      }
    }
  }
}