@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003100}}
body {
  background-color: #fafafa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003105}}
.top-nav-info {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f03744;
  color: white;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 0 auto;
  padding: 0px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003115}}
.top-nav-info .leftIcon {
  position: absolute;
  left: 10px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003121}}
.top-nav-info .rightIcon {
  position: absolute;
  right: 10px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003127}}
.top-nav-info .top-nav-text {
  text-align: center;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003133}}
.text-icon {
  position: relative;
  top: 0px;
  cursor: pointer;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003140}}
.container-percent {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  margin: 20px auto 90px;
  background-color: white;
  border: 1px #f0f0f0 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003150}}
.bigTitle {
  font-weight: bold;
  font-size: 40px;
  margin: 28px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003157}}
.commonModalDialog {
  min-width: 320px;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003160}}
.commonModalDialog .modal-dialog {
  height: 80%;
  min-width: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003164}}
.commonModalDialog .modal-dialog .modal-content {
  height: 80%;
  background-color: #fafafa;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003169}}
.commonModalDialog .modal-dialog .modal-content .modal-header {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003173}}
.commonModalDialog .modal-dialog .modal-content .modal-header .btnClose {
  position: absolute;
  right: -42px;
  top: 0px;
  opacity: unset;
  background-color: white;
  width: 30px;
  font-size: 40px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003189}}
.commonModalDialog .modal-dialog .modal-content .modal-body {
  padding: 0;
  margin: 0;
  max-height: calc(100% - 45px);
  overflow-y: auto;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003205}}
  .commonModalDialog .modal-dialog .modal-content {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003213}}
  .settingDialog .modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003216}}
  .settingDialog .modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003220}}
  .settingDialog .commonModalDialog .modal-dialog {
    margin: 0;
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003223}}
  .settingDialog .commonModalDialog .modal-dialog .modal-content {
    height: calc(100%);
    position: absolute;
    bottom: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003239}}
.settingDialog {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003241}}
.settingDialog .setting {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003243}}
.settingDialog .setting .perItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px #f0f0f0 solid;
  height: 44px;
  line-height: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003248}}
.settingDialog .setting .perItem .tagIcon {
  position: absolute;
  left: 16px;
  top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003252}}
.settingDialog .setting .perItem .tagIcon .text-icon {
  font-size: 20px;
  color: #f03744;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003257}}
.settingDialog .setting .perItem .text {
  font-size: 16px;
  padding-left: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003266}}
.settingDialog .commonModalDialog .modal-dialog .modal-content {
  height: 90px !important;
  overflow: hidden !important;
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/public\.scss}line{font-family:\00003271}}
.settingDialog .commonModalDialog .modal-dialog .modal-content .modal-body {
  height: 100% !important;
  max-height: calc(100%) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\000035}}
.WordListModalDialog .word-list {
  width: 80%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #f0f0f0 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 20px auto;
  background-color: white;
  padding: 10px;
  padding: 8px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\000039}}
.WordListModalDialog .word-list .perItem {
  font-size: 16px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000317}}
.WordListModalDialog .word-list .perItem .cont {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 94%;
  border-bottom: 1px #f0f0f0 solid;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000323}}
.WordListModalDialog .word-list .perItem .cont em {
  font-style: normal;
  margin: 0 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000328}}
.WordListModalDialog .word-list .perItem .cont .text-icon {
  color: #a1a1a1;
  font-size: 14px;
  position: relative;
  top: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000339}}
.WordListModalDialog .word-list .perItem.selected .tag {
  background-color: #f03744;
  width: 7px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000354}}
  .WordListModalDialog .commonModalDialog .modal-dialog {
    margin: 0;
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000358}}
  .WordListModalDialog .commonModalDialog .modal-dialog .modal-content {
    height: calc(100%);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/skin\/default\/css\/word-list\.scss}line{font-family:\0000362}}
  .WordListModalDialog .commonModalDialog .modal-dialog .modal-content .modal-body .word-list {
    height: calc(100%);
  }
}
