/*边框*/

#cont1 {
    border-bottom: 1px red solid;
    width: 1080px;
}

.item1 {
    background-color: rgb(209, 204, 224);
    /*设置圆角*/
    border-radius: 16px;
    /*设置左右圆角*/
    /*border-bottom-left-radius:16px;
            border-bottom-right-radius:16px;*/
    margin-bottom: 20px;
    height: 100px;
}

.item2 {
    background-color: rgb(209, 204, 224);
    /*添加阴影*/
    box-shadow: 10px 10px 10px red;
    margin-bottom: 20px;
    height: 100px;
}

.item3 {
    margin-bottom: 20px;
    height: 100px;
    background-color: rgb(209, 204, 224);
    /*设置边框图片*/
    border-image: url("/CSS3/images/border.png") 30 30 stretch;
}


/*背景设置*/

#cont2 {
    border-bottom: 1px red solid;
    width: 1080px;
    height: 180px;
}

.item4 {
    height: 116px;
    width: 945px;
    background-color: rgb(217, 224, 201);
}


/*文本效果*/

#cont3 {
    border-bottom: 1px red solid;
}

.item5 {
    height: 116px;
    width: 345px;
    background-color: rgb(217, 224, 201);
    /*文本阴影*/
    text-shadow: 3px 3px 1px red;
}

.item6 {
    height: 116px;
    width: 220px;
    background-color: rgb(217, 224, 201);
    /*文本换行*/
    word-wrap: break-word;
}


/*2D转换*/

#cont4 {
    border-bottom: 1px red solid;
    width: 1080px;
    height: 350px;
}

.item7 {
    height: 116px;
    width: 175px;
    background-color: rgb(217, 224, 201);
    float: left;
    /*左移和下移*/
    transform: translate(0px, -1px);
}

.item8 {
    height: 116px;
    width: 135px;
    background-color: rgb(217, 224, 201);
    float: left;
    margin-left: 20px;
    /*顺时针旋转给定的角度--顺时针旋转30度*/
    transform: rotate(30deg);
}

.item9 {
    height: 76px;
    width: 180px;
    background-color: rgb(217, 224, 201);
    float: left;
    margin-left: 20px;
    /*宽度是原来的1倍 高度是2倍*/
    transform: scale(1, 2);
}

.item10 {
    height: 116px;
    width: 130px;
    background-color: rgb(217, 224, 201);
    float: left;
    margin-left: 20px;
    /*元素翻转给定的角度*/
    transform: skew(-3deg, 20deg);
}


/*3D转换*/

#cont5 {
    border-bottom: 1px red solid;
    width: 1080px;
    height: 180px;
}

.item11 {
    height: 140px;
    width: 212px;
    background-color: rgb(217, 224, 201);
    float: left;
    /*元素围绕X轴旋转60度*/
    transform: rotateX(60deg);
}

.item12 {
    height: 116px;
    width: 130px;
    background-color: rgb(217, 224, 201);
    float: left;
    margin-left: 20px;
    /*元素围绕Y轴旋转55度*/
    transform: rotateY(55deg);
}


/*过渡*/

#cont6 {
    border-bottom: 1px red solid;
    width: 1080px;
    height: 180px;
}

.item13 {
    height: 50px;
    width: 100px;
    background-color: rgb(217, 224, 201);
    /*设置时长，如果不设置，则不会有过渡效果，因为默认值是 0*/
    transition: width 2s;
}

.item13:hover {
    width: 300px;
}


/*过渡*/

#cont8 {
    border-bottom: 1px red solid;
    width: 1080px;
    height: 275px;
}

.item15 {
    /*将文本分为3列*/
    column-count: 3;
    -webkit-column-count: 3;
}


/*动画效果*/

.item110 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation: myFirst 5s;
    -webkit-animation: myFirst 5s;
    /*Chrome and Safari*/
    animation-direction: alternate;
    animation-play-state: running;
    position: relative;
}

.cont {
    border-bottom: 1px red solid;
    margin-bottom: 20px;
}

.L1 {
    height: 180px;
    background: linear-gradient(red, blue);
    color: white;
    margin-bottom: 20px;
}


/*上下左右来回移动*/


/*@keyframes myFirst {
            0% {
                background: red;
                left: 0px;
                top: 0px;
            }

            25% {
                background: yellow;
                left: 200px;
                top: 0px;
            }

            50% {
                background: blue;
                left: 200px;
                top: 200px;
            }

            75% {
                background: green;
                left: 0px;
                top: 200px;
            }

            100% {
                background: red;
                left: 0px;
                top: 0px;
            }
        }*/


/*左右来回移动*/


/*Chrome and Safari*/

@-webkit-keyframes myFirst {
    0% {
        background: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background: yellow;
        left: 95%;
        top: 0px;
    }
    50% {
        background: blue;
        left: 0px;
        top: 0px;
    }
    75% {
        background: green;
        left: 95%;
        top: 0px;
    }
    100% {
        background: red;
        left: 0px;
        top: 0px;
    }
}


/*阴影效果*/

.boxShadow li {
    list-style: none;
    width: 400px;
    padding: 10px;
    background: #eee;
    margin-bottom: 30px;
}

.outset {
    box-shadow: 5px 5px rgba(0, 0, 0, .6);
}

.outset-blur {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
}

.outset-extension {
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, .6);
}

.inset {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .6) inset;
}

.multiple-shadow {
    box-shadow: 0 0 5px 3px rgba(255, 0, 0, .6), 0 0 5px 6px rgba(0, 182, 0, .6), 0 0 5px 10px rgba(255, 255, 0, .6);
}


/*阴影效果*/


/*文本阴影开始*/

.shadowText li {
    margin-bottom: 20px;
    border: 1px red solid;
    width: 400px;
}

.shadowText .mormal p {
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.shadowText .blur p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.shadowText .group p {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1), 1px 1px 2px rgba(0, 85, 0, .8);
}


/*文本阴影结束*/