@charset "utf-8";
.zhounian {
    width: 1200px;
    height: 700px;
    margin: 0px auto;
    text-align: center;
    display: none;
}

    .zhounian .caidai {
        position: absolute;
        width: 1200px;
        height: 700px;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    .zhounian .item {
        width: 500px;
        height: 500px;
        position: relative;
        text-align: center;
        margin: 0 auto;
        top: 120px;
    }

        .zhounian .item .img_bg {
            width: 415px;
            height: 415px;
            position: relative;
            top: 36px;
        }

        .zhounian .item .qiqiu {
            position: absolute;
        }

            .zhounian .item .qiqiu.qiqiu_left, .zhounian .item .qiqiu.qiqiu_left2 {
                width: 171px;
                height: 400px;
                left: -99px;
                top: -137px;
                top: -85px;
            }

            .zhounian .item .qiqiu.qiqiu_right, .zhounian .item .qiqiu.qiqiu_right2 {
                width: 120px;
                height: 279px;
                right: -69px;
                top: 24px;
            }


        .zhounian .item .qizi {
            position: absolute;
        }

            .zhounian .item .qizi.qizi_left {
                width: 370px;
                height: 137px;
                left: -68px;
                top: 46px;
                z-index: 10;
            }

            .zhounian .item .qizi.qizi_right {
                width: 189px;
                height: 85px;
                right: 29px;
                top: 88px;
                z-index: 9;
            }


        .zhounian .item .liwu {
            position: absolute;
        }

            .zhounian .item .liwu.liwu_left {
                width: 321px;
                height: 263px;
                left: -95px;
                top: 185px;
            }

            .zhounian .item .liwu.liwu_right {
                width: 150px;
                height: 188px;
                right: 45px;
                top: 222px;
            }

        .zhounian .item .jindan, .zhounian .item .jindan2 {
            position: absolute;
            width: 210px;
            height: 250px;
            right: 144px;
            top: 144px;
        }

        .zhounian .item .dansheng {
            position: absolute;
            width: 467px;
            height: 127px;
            right: 32px;
            top: 357px;
        }

        .zhounian .item .jun {
            position: absolute;
            width: 298px;
            height: 319px;
            right: -140px;
            top: 163px;
        }

        .zhounian .item .tongbu {
            position: absolute;
            width: 349px;
            height: 127px;
            right: 69px;
            top: -85px;
        }
        /*动画设置开始*/
        .zhounian .item .img_bg {
            animation: img_bg 0.6s ease;
        }

@keyframes img_bg {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1);
    }
}


.zhounian .item .qiqiu_left {
    animation: qiqiu_left 1.0s linear;
}

@keyframes qiqiu_left {
    0% {
        top: 85px;
        opacity: 0;
    }

    50% {
        top: 85px;
        opacity: 0;
    }

    100% {
        top: -85px;
        opacity: 1;
    }
}

.zhounian .item .qiqiu_left2 {
    display: none;
    animation: qiqiu_left2 3.0s linear infinite;
}

@keyframes qiqiu_left2 {
    0% {
        top: -85px;
    }

    50% {
        top: -30px;
        opacity: 1;
    }

    100% {
        top: -85px;
        opacity: 1;
    }
}

.zhounian .item .qiqiu_right2 {
    display: none;
    animation: qiqiu_right2 3.5s linear infinite;
}

@keyframes qiqiu_right2 {
    0% {
        top: 24px;
    }

    50% {
        top: -30px;
        opacity: 1;
    }

    100% {
        top: 24px;
        opacity: 1;
    }
}



.zhounian .item .qiqiu_right {
    animation: qiqiu_right 1.1s linear;
}

@keyframes qiqiu_right {
    0% {
        top: 200px;
        opacity: 0;
    }

    60% {
        top: 200px;
        opacity: 0;
    }

    100% {
        top: 24px;
        opacity: 1;
    }
}

.zhounian .item .qizi_left {
    animation: qizi_left 1.4s linear;
}

@keyframes qizi_left {
    0% {
        top: -20px;
        opacity: 0;
    }

    60% {
        top: -20px;
        opacity: 0;
    }

    100% {
        top: 46px;
        opacity: 1;
    }
}

.zhounian .item .qizi_right {
    animation: qizi_right 1.5s linear;
}

@keyframes qizi_right {
    0% {
        top: 0px;
        opacity: 0;
    }

    60% {
        top: 0px;
        opacity: 0;
    }

    100% {
        top: 88px;
        opacity: 1;
    }
}




.zhounian .item .liwu_left {
    animation: liwu_left 1.6s linear;
}

@keyframes liwu_left {
    0% {
        left: -250px;
        opacity: 0;
    }

    60% {
        left: -250px;
        opacity: 0;
    }

    100% {
        left: -95px;
        opacity: 1;
    }
}


.zhounian .item .liwu_right {
    animation: liwu_right 1.7s linear;
}

@keyframes liwu_right {
    0% {
        right: -120px;
        opacity: 0;
    }

    60% {
        right: -120px;
        opacity: 0;
    }

    100% {
        right: 45px;
        opacity: 1;
    }
}





.zhounian .item .jindan {
    animation: jindan 2s linear;
}

@keyframes jindan {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(0.2);
        opacity: 0;
    }

    95% {
        transform: scale(1.05);
        opacity: 1;
    }

    98% {
        transform: scale(0.95);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}



.zhounian .item .dansheng {
    animation: dansheng 2.5s linear;
}

@keyframes dansheng {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    60% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.zhounian .item .jun {
    animation: jun 2.7s linear;
}

@keyframes jun {
    0% {
        right: -250px;
        opacity: 0;
    }

    80% {
        right: -250px;
        opacity: 0;
    }

    100% {
        right: -140px;
        opacity: 1;
    }
}

.zhounian .item .jindan2 {
    display: none;
    animation: jindan2 3s linear;
}

@keyframes jindan2 {
    0% {
        transform: rotate(15deg);
    }

    10% {
        transform: rotate(-13deg);
    }

    20% {
        transform: rotate(11deg);
    }

    30% {
        transform: rotate(-9deg);
    }

    40% {
        transform: rotate(7deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(4deg);
    }

    70% {
        transform: rotate(-3deg);
    }

    80% {
        transform: rotate(2deg);
    }

    90% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.zhounian .caidai {
    animation: caidai 15s linear;
}

@keyframes caidai {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        transform: scale(0);
        opacity: 0.3;
    }

    18% {
        transform: scale(1.3);
        opacity: 1;
    }


    100% {
        transform: scale(2);
        opacity: 1;
    }
}


@keyframes tongbu {
    0% {
        top: -300px;
        opacity: 0;
    }

    50% {
        top: -185px;
        opacity: 0.3;
    }

    100% {
        top: -85px;
        opacity: 1;
    }
}

.zhounian .item .tongbu {
    animation: tongbu 3.0s linear;
}