@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000330}}
.inkstone nav.navbar {
  background-color: #333 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000334}}
.inkstone nav.navbar a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000338}}
.inkstone .header-container {
  background-color: #777;
  color: white;
  overflow: hidden;
  padding: 3rem 1rem;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000344}}
.inkstone .header-container .container {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000347}}
.inkstone .header-container .header-text {
  padding: 0;
  text-align: center;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000352}}
.inkstone .header-container .header-text .textdesc h1 {
  font-size: 38px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000355}}
.inkstone .header-container .header-text .textdesc p {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000359}}
.inkstone .header-container .header-text .call-to-action {
  margin: 30px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000362}}
.inkstone .header-container .header-text .call-to-action .row .linkInfo {
  overflow: hidden;
  display: block;
  cursor: pointer;
  width: 224px;
  height: 72px;
  border: 1px white solid;
  padding: 0;
  margin: 0 auto 20px;
  border-radius: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000373}}
.inkstone .header-container .header-text .call-to-action .row .linkInfo.link1 img {
  width: 224px;
  height: 72px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000384}}
.inkstone .header-container .header-text .call-to-action .row .linkInfo.link2 {
  background-color: black;
  color: white;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000388}}
.inkstone .header-container .header-text .call-to-action .row .linkInfo.link2 .icon {
  font-size: 40px;
  position: absolute;
  top: 8px;
  left: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\0000394}}
.inkstone .header-container .header-text .call-to-action .row .linkInfo.link2 .text {
  position: absolute;
  font-size: 24px;
  top: 20px;
  left: 58px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003106}}
.inkstone .header-container .header-image {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-items: center;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003108}}
.inkstone .header-container .header-image img {
  border: 1px solid #222;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003116}}
.inkstone .marketing .chinese-header {
  font-family: UKaiCN;
  font-size: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003122}}
.inkstone .separator {
  border-top: 1px solid #ccc;
  margin: 2rem auto;
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003128}}
.inkstone .demo-section {
  overflow: hidden;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-items: center;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003134}}
.inkstone .footer-container .backToTop {
  cursor: pointer;
  color: #007bff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003140}}
.inkstone #demo-container {
  border: 1px solid #222;
  width: 100%;
  height: 100%;
  text-align: center;
  min-width: 300px;
  min-height: 300px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-items: center;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/myproject\/inkstone\/css\/inkstone\.scss}line{font-family:\00003148}}
.inkstone #demo-container svg {
  margin: 0 auto;
}
