@charset "UTF-8";
@mixin div-block {
  width: 100%;
  position: relative;
  overflow: hidden;
  @include box-sizing;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex-layout {
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-items: center;
  align-items: center;

}

.inkstone {
  nav.navbar {
    background-color: #333 !important;
    @include border-radius(0);
    margin-bottom: 0;
    a {
      color: white;
    }
  }
  .header-container {
    background-color: #777;
    color: white;
    overflow: hidden;
    padding: 3rem 1rem;
    position: relative;
    .container {
      padding: 0;
    }
    .header-text {
      padding: 0;
      text-align: center;
      margin-top: 20px;
      .textdesc {
        h1 {
          font-size: 38px;
        }
        p {
          font-size: 16px;
        }
      }
      .call-to-action {
        margin: 30px 0px;
        .row {
          .linkInfo {
            overflow: hidden;
            display: block;
            cursor: pointer;
            width: 224px;
            height: 72px;
            border: 1px white solid;
            padding: 0;
            margin: 0 auto 20px;
            border-radius: 8px;
            &.link1 {
              img {
                width: 224px;
                height: 72px;
                //width: 248px;
                //height: 96px;
                //margin: 0 auto;
                &.ios {
                  //padding: 1rem;
                }
              }
            }
            &.link2 {
              background-color: black;
              color: white;
              position: relative;
              .icon {
                font-size: 40px;
                position: absolute;
                top: 8px;
                left: 12px;
              }
              .text {
                position: absolute;
                font-size: 24px;
                top: 20px;
                left: 58px;
              }

            }
          }
        }
      }
    }
    .header-image {
      @include flex-layout();
      img {
        border: 1px solid #222;
        margin: 0 auto;
      }
    }
  }

  .marketing {
    .chinese-header {
      font-family: UKaiCN;
      font-size: 100px;
    }
  }

  .separator {
    border-top: 1px solid #ccc;
    margin: 2rem auto;
    width: 80%;
  }

  .demo-section {
    overflow: hidden;
    @include flex-layout();
  }

  .footer-container {
    .backToTop {
      cursor: pointer;
      color: #007bff;
    }
  }

  #demo-container {
    border: 1px solid #222;
    width: 100%;
    height: 100%;
    text-align: center;
    min-width: 300px;
    min-height: 300px;
    @include flex-layout();
    svg {
      margin: 0 auto;
    }
  }
}