@charset "utf-8";
.codeBlock {
  p {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
  }
  a {
    display: block;
    overflow: hidden;
    margin: 30px;
    font-size: 26px;
    color: #280cff;
  }
}
