.upload_avator {
    width: 100%;
    position: relative;
}

.upload_avator .clipArea {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}

.upload_avator .btnUpload {
    width: 300px;
    position: relative;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 30px auto;
}

.upload_avator .btnUpload .btnImg {
    width: 90px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #EA5205;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    float: left;
}

.upload_avator .btnUpload #selectImg {
    margin-left: 0px;
}

.upload_avator .btnUpload #file {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 40px;
    width: 90px;
    opacity: 0;
}



.upload_avator {}

.upload_avator {}

.upload_avator {}